<!DOCTYPE html>
<html lang="ko-KR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
    <title> 국내외여행, 호텔, 편션, 리조트, 콘도 최저가할인예약 GO.CO.KR </title>
    <link rel="stylesheet" href="https://static.go.co.kr/css/moblie_reset.css">
    <link rel="stylesheet" href="https://static.go.co.kr/css/swiper.min.css">
    <link rel="stylesheet" href="https://static.go.co.kr/css/mobile_layout3.css">
    <!-- <link rel="stylesheet" href="https://static.go.co.kr/css/totalmobile.css"> -->
    <link rel="stylesheet" href="/static/css/totalmobile.css">

    <!-- <link rel="stylesheet" href="../../static/css/totalmobile.css" type="text/css"/> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>

<body>

    <section class="reservation" id="setTop">
        <div class="clr"></div>

        <div id="wrapper">
            <div id="scroll_box">
                <div class="package-menu-area">
                    <ul class="package-menu-list clr" style="/*background:#f8f8f8;*/">
                        <li class="nth-1 on pack_tab_none"><a href="javascript:package_view('');"><span>객실단품</span></a>
                        </li>
                        <li class="nth-2 pack_tab_302226"><a href="javascript:package_view('302226');"><span>한화설악 워터피아
                                    패키지</span></a></li>
                        <li class="nth-3 pack_tab_35077 pack_on" style="display: none;"><a href="javascript:package_view('35077');"><span>델피노설악 아쿠아월드 패키지</span></a></li>
                        <li class="nth-4 pack_tab_332551 pack_on" style="display: none;"><a href="javascript:package_view('332551');"><span>척산온천 패키지</span></a></li>
                        <li class="nth-5 pack_tab_35080 pack_on" style="display: none;"><a href="javascript:package_view('35080');"><span>양양쏠비치 아쿠아월드 패키지</span></a></li>
                        <li class="nth-6 pack_tab_waterpark pack_on" style="display: none;"><a href="javascript:package_view('waterpark');"><span>롯데리조트 워터파크 패키지</span></a></li>
                    </ul>
                    <script type="text/javascript">
                        var pkgBox = $('.package-menu-area .package-menu-list');
                        var pkgBoxH = pkgBox.find('li a').height();

                        pkgBox.find('li a').on('click', function () {
                            //console.log('click')
                            $(this).parents('li').addClass('on').siblings('li').removeClass('on');

                            if ($(this).parents('li.on').find('span').height() !== pkgBoxH) {
                                $(this).find('span').addClass('on')
                            } else {
                                $(this).find('span').removeClass('on')
                            }
                        });

                        function package_view(val) {
                            $("input[name='pack_gubun']").val(val);
                            $(".pack_tab_" + val).addClass('on').siblings('li').removeClass('on');
                            $(".pack_sub_" + val).hide();
                            var top = $('.package-menu-area').height();
                            var sub = $("#info_img_wrpa").height() + 120;
                            $('html, body').animate({
                                scrollTop: sub
                            }, 400);
                            //room.set_load();
                            booking.find_room();
                        }
                    </script>
                </div>

                <table id="product_info">
                    <colgroup>
                        <col width="25%">
                        <col width="75%">
                    </colgroup>
                    <tbody>
                        <tr id="product_title">
                            <td colspan="2" id="room_result" class="r_on">

                                <table id="product_info">
                                    <colgroup>
                                        <col width="25%">
                                        <col width="75%">
                                    </colgroup>
                                    <tbody>
                                        <style type="text/css">
                                            .radio_box .font_b_black20 {
                                                font-size: 1.350em;
                                                color: red
                                            }
                                        </style>
                                        <tr>
                                            <td colspan="2">
                                                <div class="radio_box">
                                                    <input type="radio" id="2299_room" name="sang" class="chk" value="2299">
                                                    <label for="2299_room">
                                                        <div class="room_info_title">
                                                            <p class="font_black20" id="2299_rname">

                                                                스탠다드 마운틴뷰 콘도
                                                            </p>
                                                            <div class="clr row">
                                                                <p>
                                                                </p>
                                                                <div class="clr"></div>
                                                                <span class="person" style="float: none;">기준4인/최대7인</span>
                                                                <p></p>
                                                                <div class="price">
                                                                    <del>330,000원</del> <span class="font_b_black20">49,000원</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </label>
                                                </div>
                                                <!-- click - show -->
                                                <div class="cf product-quantity">
                                                    <div class="split">
                                                        <div class="quantity-cover">
                                                            <span class="lbl">객실 수</span>
                                                            <select name="" id="" class="form-reset quantity-select">
                                                                <option value="">1</option>
                                                                <option value="">10</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="split">
                                                        <div class="quantity-cover">
                                                            <span class="lbl">총 가격</span>
                                                            <span class="total-price">50,000</span>
                                                        </div>
                                                    </div>
                                                    <div class="cf"></div>
                                                    <div class="split-f">
                                                        <button type="button" class="btn-reset rsv-btn">예약하기</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="border:0">
                                                <div class="room_info_box 2299_room_info" style="display:none"></div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- /#product_info -->
                                <script>
                                    $('body').on('click', '#product_info .radio_box label', function () {
                                        $(this).closest('td').find('.product-quantity').toggle();
                                    });
                                </script>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

</body>

</html>