/* 고코투어 최저가보장 랜딩페이지 */
.btn_decl {position:fixed; left:0; bottom:0; width:100%; z-index:999999;}
.btn_decl a {display:block; height:46px; background-color:#919191; font-size:16px; font-weight:bold; color:#fff; text-align:center; line-height:46px;}
.decl_area {padding:15px 10px;}
.decl_area .decl_write > li {margin-top:10px;}
.decl_area .decl_write > li:first-child {margin-top:0;}
.decl_area .decl_write > li > p {margin-right:10px; font-size:14px; color:#282828; font-weight:bold;}
.decl_area .decl_write > li .input_area {margin-top:5px; background-color:#f8f8f8; border:1px solid #ccc; padding:10px;}
.decl_area .decl_write > li .input_area input[type="text"] {border:1px solid #a9a9a9; height:35px; border-radius:0; box-sizing:border-box; padding:5px;}
.decl_area .decl_write > li .input_area .ip_txt {width:100%;}
.decl_area .decl_write > li .input_area textarea {-webkit-appearance:none; appearance:none; border-radius:0; background-color:#fff; width:100%; resize:none; border:1px solid #a9a9a9; padding:5px; box-sizing:border-box; height:100px;}
.decl_area .decl_write > li .input_area input[type="file"] {-webkit-appearance:none; appearance:none; border-radius:0; border:1px solid #ccc; height:35px; box-sizing:border-box; padding:5px 10px; width:100%; background-color:#fff;}
.decl_area .submit_decl {margin-top:15px; text-align:center;}
.decl_area .submit_decl a {display:inline-block; width:250px; height:46px; line-height:46px; color:#fff; font-size:16px; font-weight:bold; background-color:#000;}

.landing-contents {position: relative;}
.landing-contents * {font-family: "Nanum Gothic", sans-serif;}
.landing-contents div[class*='sec-lan'] {position: relative; box-sizing: border-box; width: 100%;}
.landing-contents div[class*='sec-lan'] .gjt-wrap {position: relative; box-sizing: border-box; max-width: 360px; margin: 0 auto; padding-left: 20px; padding-right: 20px;}
.landing-contents figure {position: relative; margin: 0; padding: 0}
.landing-contents img {position: relative; width: 100%; max-width: 360px;}
.landing-contents .sec-lan-main {min-height: 406px; background: url(http://img.go.co.kr/mobile/landing/20181109_GangwonJejuTheme/bg_main.jpg) no-repeat center center; background-size: cover;}
.landing-contents .sec-lan-main .gjt-wrap {padding-top: 40px;}
.landing-contents .sec-lan-main .gjt-tit {display: block; margin: 0 auto; text-align: center; padding: 0 50px;}
.landing-contents .sec-lan-main .gjt-tit img {}
.landing-contents .sec-lan-menu {padding-top: 20px; background: #e83e3e;}
.landing-contents .sec-lan-menu .gjt-wrap {padding-top: 40px;}
.landing-contents .sec-lan-menu .gjt-menu-box {position: relative; box-sizing: border-box; max-width: 230px; /*min-height: 153px;*/ margin: 66px auto 0; padding: 15px 22px 12px; background: #fff; box-shadow: 0px 7px 15px 0px rgba(7, 2, 2, 0.6);}
.landing-contents .sec-lan-menu .gjt-menu-box:before {content: ''; display: block; position: absolute; width: 100%; height: 66px; top: -66px; left: 0; margin: 0 auto; background: url(http://img.go.co.kr/mobile/landing/20181109_GangwonJejuTheme/img_menu.png) no-repeat center center; background-size: auto 100%;}
.landing-contents .sec-lan-menu .gjt-menu-list {padding-top: 4px;}
.landing-contents .sec-lan-menu .gjt-menu-list li {padding-top: 8px;}
.landing-contents .sec-lan-menu .gjt-menu-list li a {display: block;}
.landing-contents .sec-lan-menu .gjt-menu-list li a img {}
.landing-contents .sec-lan-theme {background: #fff;}
.landing-contents .sec-lan-theme .gjt-wrap {padding-top: 30px; padding-bottom: 45px;}
.landing-contents .sec-lan-theme .gjt-tit {}
.landing-contents .sec-lan-theme .gjt-theme-list {padding-top: 5px;}
.landing-contents .sec-lan-theme .gjt-theme-list li {float: left; box-sizing: border-box; width: 50%; padding: 20px 9px 0 0;}
.landing-contents .sec-lan-theme .gjt-theme-list li:nth-child(2n) {padding-right: 0; padding-left: 9px;}
.landing-contents .sec-lan-theme .gjt-theme-list li a {display: block;}
.landing-contents .sec-lan-theme .gjt-txt-box {}
.landing-contents .sec-lan-theme .gjt-txt-box p {font-size: 12px; line-height: 15px; letter-spacing: -1px; color: #000;}
.landing-contents .sec-lan-theme .gjt-txt-box .gjt-theme-name {overflow:hidden; padding-top: 10px; text-overflow: ellipsis; word-wrap: normal; white-space: nowrap;}
.landing-contents .sec-lan-theme .gjt-txt-box .gjt-theme-price {padding-top: 5px;}
.landing-contents .sec-lan-theme .gjt-txt-box .gjt-theme-price span {position: relative; display: inline-block; color: #8c8c8c;}
.landing-contents .sec-lan-theme .gjt-txt-box .gjt-theme-price span:before {content: ''; display: block; position: absolute; width: 100%; height: 1px; top:50%; left: 0; background: #8c8c8c;}
.landing-contents .sec-lan-theme .gjt-txt-box .gjt-theme-price em {display: inline-block; padding-left: 5px; font-size: 15px;}
.landing-contents .sec-lan-kakao {background: url(http://img.go.co.kr/mobile/landing/20181109_GangwonJejuTheme/bg_kakao.jpg) no-repeat center center; background-size: cover;}
.landing-contents .sec-lan-kakao .gjt-wrap {padding-top: 26px; padding-bottom: 28px; background: url(http://img.go.co.kr/mobile/landing/20181109_GangwonJejuTheme/img_kakao.png) no-repeat right 16px bottom; background-size: 112px auto;}
.landing-contents .sec-lan-kakao .gjt-tit {max-width: 210px; padding-left: 2px;}
.landing-contents .sec-lan-kakao .gjt-txt {padding: 5px 0 0 4px; font-size: 14px; line-height: 18px; letter-spacing: -1px; color: #373737;}
.landing-contents .sec-lan-kakao .btn-kakao {display: block; width: 250px; height: 35px; margin-top: 24px; text-align: center; border-radius: 3px; background: #fbe901;}
.landing-contents .sec-lan-kakao .btn-kakao span {position: relative; display: inline-block; padding-left: 19px; font-size: 15px; letter-spacing: -1px; line-height: 35px; color: #371f10;}
.landing-contents .sec-lan-kakao .btn-kakao span:before {content: ''; display: block; position: absolute; width: 16px; height: 100%; top: 0; left: 0; background: url(http://img.go.co.kr/mobile/landing/20181109_GangwonJejuTheme/ico_kakao.gif) no-repeat center center; background-size: 100% auto;}