<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8" />
	<title> 국내외여행, 호텔, 편션, 리조트, 콘도 최저가할인예약 GO.CO.KR </title>

	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" />
	<!--숫자인식,메일주소,지도상의 주소링크 막기-->
	<meta name="format-detection" content="telephone=no, address=no, email=no" />
	<link rel="stylesheet" href="http://static.go.co.kr/css/swiper.min.css?ver=20170804092500" type="text/css" />
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">

	<link rel="stylesheet" href="http://static.go.co.kr/css/moblie_reset.css?ver=20170804092500" type="text/css" />
	
	<link rel="stylesheet" href="http://static.go.co.kr/css/mobile_layout3.css" type="text/css" />
	<!--<link rel="stylesheet" href="../static/css/mobile_layout3.css" type="text/css" />-->

	<!-- 모든사이트 통합 css -->
	<link rel="stylesheet" href="http://static.go.co.kr/css/totalmobile.css" type="text/css" />
	<!--<link rel="stylesheet" href="../static/css/totalmobile.css" type="text/css" />-->
	



	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://static.go.co.kr/js/swiper.min.js"></script>


</head>

<body>
	<div id="wrapper" data-role="page">
	
		<div id="scroll_box">
		
			<div id="top_box" style="position: fixed; top: 0px; z-index: 9999; width: 100%; background: rgb(255, 255, 255);">
				<!-- 180612 멀티클래스 추가 -->
				<div id="head" class="head-type02 no-btbolder">
					<div id="allmenu" class="hd_menu">	
						<a href="#none"><img src="http://img.go.co.kr/mobile/icon_menu.png" height="30" alt="전체메뉴" style="display:none"></a>
					</div>
					<div id="logo2"><a href="http://app.go.co.kr/home/main/">고코투어</a></div>
				</div>
				
				<!-- 180612 메뉴 숨김 -->
				<!--<nav class="main-menu-box">
					<ul class="gnb-box">
						<li class="on"><a href="#none">국내숙박</a></li>
						<li><a href="#none">레저입장권</a></li>
						<li><a href="#none">공연/전시</a></li>
						<li><a href="#none">해외숙박</a></li>
					</ul>
				</nav>-->
			</div>
			
			<!-- 180612 검색영역 리뉴얼 -->
			<!-- 180615 검색영역 수정 -->
			<div id="search-area" class="area-02">
				<div class="main-input-area">
			        <!-- 180615 숨김 -->
					<!--<div class="search-box">
						<input class="input-search" name="search" placeholder="지역/숙소명/여행지를 입력하세요.">
						<a href="javascript:;" class="input-sech"></a>
					</div>-->
                
					<div class="similar-sech-box">
			            <!-- 180615 지역숙소명 변경 -->
						<div class="search-box">
							<input class="reg-box" placeholder="지역/숙소명">
							<a href="javascript:;" class="input-sech"></a>
						</div>
						<div class="search-box">
							<p class="cal-box"><span>지역선택</span></p>
			                <!-- 180615 클래스 변경 -->
							<a href="javascript:;" class="input-slreg"></a>
						</div>
					</div>
				</div>
				
			    <!-- 180615 - 2 게스트하우스 순서 변경 -->
				<div class="fast-room-search">
					<p class="room-sech-tit"><span class="circle"></span>빠르고 손쉬운 숙소 찾기<span class="circle"></span></p>
					<div class="fast-room-box">
						<ul class="fast-list-02">
							<li class="on">
								<a href="#none" class="list-hotel"><span>호텔</span></a>
							</li>
							<li>
								<a href="#none" class="list-condo"><span>리조트/콘도</span></a>
							</li>
							<li>
								<a href="#none" class="list-motel"><span>모텔</span></a>
							</li>
							<li>
								<a href="#none" class="list-gest"><span>게스트하우스</span></a>
							</li>
							<li>
								<a href="#none" class="list-pension"><span>펜션</span></a>
							</li>
							<li>
								<a href="#none" class="list-leisure"><span>레저/입장권</span></a>
							</li>
							<li>
								<a href="#none" class="list-show"><span>공연/전시</span></a>
							</li>
							<li>
								<a href="#none" class="list-abroad"><span>해외숙박</span></a>
							</li>
							<li>
								<a href="#none" class="list-event"><span>이벤트</span></a>
							</li>
						</ul>
					</div>
				</div>
				
			</div>
			
			<!-- 180612 변수 선언 수정 -->
			<script type="text/javascript">
				var roomLi = $('#search-area .fast-list-02 li');

				roomLi.find('a').on('click', function(){
					$(this).parent('li').toggleClass('on');
				});
			</script>
			<!--//검색영역 -->
			
			<!-- 180612 FAQ 멀티클래스 추가 및 텍스트 이미지로 변경 -->
			<div class="faqBn type-01">
                <a href="/home/customer/?dd=Tx8xfDg=">
                    <img src="http://img.go.co.kr/mobile/img_main_faq.png" alt="무료숙박권 이벤트 안내 FAQ">
                </a>
            </div>
            
            <div id="info_img">
	            <div class="swiper-container swiper-container-horizontal">
                    <div class="swiper-wrapper" style="transform: translate3d(-1500px, 0px, 0px); transition-duration: 0ms;"><div class="swiper-slide swiper-slide-duplicate" onclick="location.href='http://m.go.co.kr/home/member/?dd=RREnSjA=&amp;rurl=QQo0U2QJcU5uGUcHHS8NNVRxSy8TTQYSIU06TzBEb0FMTUMUVClWDEkCPWR4Q30='" data-swiper-slide-index="6" style="width: 375px;">
                            <img src="http://img.go.co.kr/mobile/fr_main_bn.jpg" width="100%">
                        </div>
                                        <div class="swiper-slide" onclick="location.href='http://m.go.co.kr/home/landing/push/?dd=Th8uRClJMHxxRhgdT3k='" data-swiper-slide-index="0" style="width: 375px;">
                                <img src="http://img.go.co.kr/mobile/landing/20180418_gangwon/bn.jpg?ver=20180612160745" width="100%">
                            </div>
                                        <div class="swiper-slide" onclick="location.href='http://m.go.co.kr/home/landing/push/?dd=QxsqVgEXZhNyTxs='" data-swiper-slide-index="1" style="width: 375px;">
                                <img src="http://img.go.co.kr/mobile/landing/20180212_jejutravel/bn.jpg?ver=20180612160745" width="100%">
                            </div>
                                        <div class="swiper-slide swiper-slide-prev" onclick="location.href='http://m.go.co.kr/home/view/?p_no=HE93'" data-swiper-slide-index="2" style="width: 375px;">
                                <img src="http://img.go.co.kr/mobile/ocean_main_bn.jpg?ver=20180612160745" width="100%">
                            </div>
                                        <div class="swiper-slide swiper-slide-active" onclick="location.href='http://m.go.co.kr/home/view/?p_no=HE5w'" data-swiper-slide-index="3" style="width: 375px;">
                                <img src="http://img.go.co.kr/hyundaesu_mobile.jpg?ver=20180612160745" width="100%">
                            </div>
                                        <div class="swiper-slide swiper-slide-next" onclick="location.href='http://m.go.co.kr/home/landing/?dd=SBIsfC5UN0AlIRkeTnc='" data-swiper-slide-index="4" style="width: 375px;">
                                <img src="http://img.go.co.kr/mobile/landing/20170703_price_all/price_all_main_bn.jpg?ver=20180612160745" width="100%">
                            </div>
                                        <div class="swiper-slide" onclick="location.href='http://m.go.co.kr/home/landing/?dd=SxcyVzZ5PUw1DkdH'" data-swiper-slide-index="5" style="width: 375px;">
                                <img src="http://img.go.co.kr/mobile/landing/mobile_birth.jpg?ver=20180612160745" width="100%">
                            </div>
                                    <div class="swiper-slide" onclick="location.href='http://m.go.co.kr/home/member/?dd=RREnSjA=&amp;rurl=QQo0U2QJcU5uGUcHHS8NNVRxSy8TTQYSIU06TzBEb0FMTUMUVClWDEkCPWR4Q30='" data-swiper-slide-index="6" style="width: 375px;">
                            <img src="http://img.go.co.kr/mobile/fr_main_bn.jpg" width="100%">
                        </div>
                    <div class="swiper-slide swiper-slide-duplicate" onclick="location.href='http://m.go.co.kr/home/landing/push/?dd=Th8uRClJMHxxRhgdT3k='" data-swiper-slide-index="0" style="width: 375px;">
                                <img src="http://img.go.co.kr/mobile/landing/20180418_gangwon/bn.jpg?ver=20180612160745" width="100%">
                            </div></div>
                    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>
                </div>
            </div>
            <div class="btmLogo" id="btmLogo"></div>
		</div>
		
        <!-- 하단메뉴 -->
        <!-- 180612 하단메뉴 수정 -->
		<div id="bottomMenu2" class="hide_div default type-02">
            <span class="btn">
                <!-- 해당하는 페이지일 경우 이미지 확장자명 앞 파일명에 _on추가 -->
                <a href="#none"><img src="http://img.go.co.kr/mobile/bottom_menu/bm_home_on.png" alt="홈"></a>
            </span>
            <span class="btn">
                <a href="#none"><img src="http://img.go.co.kr/mobile/bottom_menu/bm_search.png" alt="검색"></a>
            </span>
            <span class="btn">
                <a href="#none"><img src="http://img.go.co.kr/mobile/bottom_menu/bm_map.png" alt="내주변"></a>
            </span>
            <span class="btn">
                <a href="#none"><img src="http://img.go.co.kr/mobile/bottom_menu/bm_mybooking.png" alt="나의예약"></a>
            </span>
            <span class="btn">
                <a id="rightmenu" href="#none"><img src="http://img.go.co.kr/mobile/bottom_menu/bm_myinfo.png" alt="myinfo"></a>
            </span>
        </div>
        
	</div>
</body>

</html>