.rnL-contents .rnL-mOuter {display: block;}
.iw_inner {/* position: absolute; top: 10px; left: 10px; */ position: relative; background: #fff; width: 243px; height: 86px;  box-shadow: -2px 2px 2px 1px rgba(0,0,0,.25); border-radius: 6px; box-sizing: border-box; overflow: hidden;}
.iw_inner > div {float: left;}
.iw_inner .d1 {width: 87px; height: 100%;}
.iw_inner .d2 {width: 156px; padding: 11px;}
.iw_inner .d2 > p {line-height: 1.4;}
.iw_inner .d2 .p1 {font-size: 16px; color: #000000; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.iw_inner .d2 .p2 {font-size: 14px; color: #767676; padding-left: 1px;}
.iw_inner .d2 .p3 {font-size: 19px; color: #fa6b0a; text-align: right;}
.iw_inner .a-x {display: block; position: absolute; right: 6px; top: 6px; width: 16px; height: 16px;}
.iw_inner .a-x:before, .iw_inner .a-x:after {content: ""; position: absolute; display: inline-block; width: 1px; height: 16px; background: #b7b7b7; transform-origin: 50% 50%; left: 7px;}
.iw_inner .a-x:before {
-webkit-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
}
.iw_inner .a-x:after {
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
}
