<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title> 국내외여행, 호텔, 편션, 리조트, 콘도 최저가할인예약 GO.CO.KR </title>

	<meta http-equiv="Cache-Control" content="No-Cache">
	<meta http-equiv="Pragma" content="No-Cache">
	<meta http-equiv="expire" content="-1">

	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
	<!--숫자인식,메일주소,지도상의 주소링크 막기-->
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://static.go.co.kr/js/common_ver2.js?ver=20170809165103"></script>
	<script>
		var base_url = "go.co.kr";
		var burl = "go.co.kr";
	</script>
	<link rel="stylesheet" href="http://static.go.co.kr/css/moblie_reset.css" type="text/css">
	<link rel="stylesheet" href="http://static.go.co.kr/css/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/mobile_layout3.css">
	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/totalmobile.css">
<!--
	<link rel="stylesheet" type="text/css" href="../../../static/css/mobile_layout3.css">
	<link rel="stylesheet" type="text/css" href="../../../src/css/totalmobile.css">
-->
	
	<!-- js -->
	<script type="text/javascript" src="http://static.go.co.kr/js/all_common.js?ver=20170809165103"></script>
	<script type="text/javascript" src="http://static.go.co.kr/js/jquery_ui.js"></script>
	<!--- 달력 한글화 --->
	<script type="text/javascript" src="http://static.go.co.kr/js/datepicker_ko.js"></script>
	<script type="text/javascript" src="http://static.go.co.kr/js/jquery.number.min.js"></script>
	<style src="http://code.jquery.com/jquery-1.11.2.min.js"></style>
	<!-- 20181115 js 추가 -->
	<script type="text/javascript" src="http://static.go.co.kr/js/lazyload.min.js"></script>

</head>

<body>
	<div id="scroll_box">
		<div id="top_box" style="position:fixed;top:0px;z-index:9999;width:100%;background:#ffffff">
			<!--- 서브페이지 상단 -->
			<div id="headTitle_box">
				<div id="headTitle">
					<span class="back"><a href="javascript:history.back(-1);"><img src="http://img.go.co.kr/mobile/btn_back.png" height="17" alt="뒤로"></a></span>따듯한 온기 온천여행
				</div>
			</div>
		</div>	
		<div id="top_box_bottom" style="height: 46px;"></div>
        <script>
            $("#top_box_bottom").css("height", $("#top_box").height()+"px");
        </script>
        
        <!-- 181122 전국스키장인기숙소 -->
        <div id="gjt-181109" class="ski-181122">
            <div class="sec-lan-main">
                <div class="gjt-wrap">
                    <p class="gjt-tit"><img src="http://img.go.co.kr/mobile/landing/20181122_skiResort/main_tit.png" alt="전국 스키장 인기숙소 BEST2 어서와~ 스키는 오랜만이지?"></p>
                </div>
            </div>
            
            <div class="sec-lan-menu">
                <div class="gjt-wrap">
                    <div class="gjt-menu-box">
                        <p class="gjt-tit"><img src="http://img.go.co.kr/mobile/landing/20181122_skiResort/menu_tit.png" alt="인기있는 특가/패키지"></p>
                        <ul class="gjt-menu-list">
                            <li><a href="#tab01"><img src="http://img.go.co.kr/mobile/landing/20181122_skiResort/btn_menu01.png" alt="강원도 인기숙소"></a></li>
                            <li><a href="#tab02"><img src="http://img.go.co.kr/mobile/landing/20181122_skiResort/btn_menu02.png" alt="경기도/전라도/경상도 인기숙소"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div id="tab01" class="sec-lan-theme gjt-theme01">
                <div class="gjt-wrap">
                    <p class="gjt-tit"><img src="http://img.go.co.kr/mobile/landing/20181122_skiResort/theme01_tit.png" alt="테마01 강원도 인기숙소"></p>
                    <ul class="gjt-theme-list clr">
                        <li class="list01">
                            <a href="#none">
                                <figure><img src="http://img.go.co.kr/mobile/landing/20181122_skiResort/theme01_list01.png" alt="테마01 이미지"></figure>
                                <div class="gjt-txt-box">
                                    <p class="gjt-theme-name">[정선] 메이힐스리조트</p>
                                    <p class="gjt-theme-price"><span>150,000원</span><em>50,000원</em></p>
                                </div>
                            </a>
                        </li>
                        <li class="list02">
                            <a href="#none">
                                <figure><img src="http://img.go.co.kr/mobile/landing/20181122_skiResort/theme01_list02.png" alt="테마01 이미지"></figure>
                                <div class="gjt-txt-box">
                                    <p class="gjt-theme-name">[태백] 오투리조트</p>
                                    <p class="gjt-theme-price"><span>220,000원</span><em>80,000원</em></p>
                                </div>
                            </a>
                        </li>
                        <li class="list03">
                            <a href="#none">
                                <figure><img src="http://img.go.co.kr/mobile/landing/20181122_skiResort/theme01_list03.png" alt="테마01 이미지"></figure>
                                <div class="gjt-txt-box">
                                    <p class="gjt-theme-name">[평창] 휘닉스파크평창 (구·보광휘닉스파크)</p>
                                    <p class="gjt-theme-price"><span>290,000원</span><em>92,700원</em></p>
                                </div>
                            </a>
                        </li>
                        <li class="list04">
                            <a href="#none">
                                <figure><img src="http://img.go.co.kr/mobile/landing/20181122_skiResort/theme01_list04.png" alt="테마01 이미지"></figure>
                                <div class="gjt-txt-box">
                                    <p class="gjt-theme-name">[원주]  한솔오크밸리리조트</p>
                                    <p class="gjt-theme-price"><span>300,000원</span><em>93,300원</em></p>
                                </div>
                            </a>
                        </li>
                        <li class="list05">
                            <a href="#none">
                                <figure><img src="http://img.go.co.kr/mobile/landing/20181122_skiResort/theme01_list05.png" alt="테마01 이미지"></figure>
                                <div class="gjt-txt-box">
                                    <p class="gjt-theme-name">[횡성] 웰리힐리파크 (구·현대우성리조트)</p>
                                    <p class="gjt-theme-price"><span>200,000원</span><em>69,100원</em></p>
                                </div>
                            </a>
                        </li>
                        <li class="list06">
                            <a href="#none">
                                <figure><img src="http://img.go.co.kr/mobile/landing/20181122_skiResort/theme01_list06.png" alt="테마01 이미지"></figure>
                                <div class="gjt-txt-box">
                                    <p class="gjt-theme-name">[정선] 하이캐슬리조트</p>
                                    <p class="gjt-theme-price"><span>253,000원</span><em>56,600원</em></p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div id="tab02" class="sec-lan-theme gjt-theme02">
                <div class="gjt-wrap">
                    <p class="gjt-tit"><img src="http://img.go.co.kr/mobile/landing/20181122_skiResort/theme02_tit.png" alt="테마02 경기도/전라도/경상도 인기숙소"></p>
                    <ul class="gjt-theme-list clr">
                        <li class="list01">
                            <a href="#none">
                                <figure><img src="http://img.go.co.kr/mobile/landing/20181122_skiResort/theme02_list01.png" alt="테마02 이미지"></figure>
                                <div class="gjt-txt-box">
                                    <p class="gjt-theme-name">[광주] 곤지암리조트</p>
                                    <p class="gjt-theme-price"><span>250,000원</span><em>130,000원</em></p>
                                </div>
                            </a>
                        </li>
                        <li class="list02">
                            <a href="#none">
                                <figure><img src="http://img.go.co.kr/mobile/landing/20181122_skiResort/theme02_list02.png" alt="테마02 이미지"></figure>
                                <div class="gjt-txt-box">
                                    <p class="gjt-theme-name">[용인] 양지파인리조트</p>
                                    <p class="gjt-theme-price"><span>150,000원</span><em>71,400원</em></p>
                                </div>
                            </a>
                        </li>
                        <li class="list03">
                            <a href="#none">
                                <figure><img src="http://img.go.co.kr/mobile/landing/20181122_skiResort/theme02_list03.png" alt="테마02 이미지"></figure>
                                <div class="gjt-txt-box">
                                    <p class="gjt-theme-name">[용인] 라마다용인호텔</p>
                                    <p class="gjt-theme-price"><span>200,000원</span><em>70,500원</em></p>
                                </div>
                            </a>
                        </li>
                        <li class="list04">
                            <a href="#none">
                                <figure><img src="http://img.go.co.kr/mobile/landing/20181122_skiResort/theme02_list04.png" alt="테마02 이미지"></figure>
                                <div class="gjt-txt-box">
                                    <p class="gjt-theme-name">[용인] 호텔더숨포레스트</p>
                                    <p class="gjt-theme-price"><span>250,000원</span><em>96,900원</em></p>
                                </div>
                            </a>
                        </li>
                        <li class="list05">
                            <a href="#none">
                                <figure><img src="http://img.go.co.kr/mobile/landing/20181122_skiResort/theme02_list05.png" alt="테마02 이미지"></figure>
                                <div class="gjt-txt-box">
                                    <p class="gjt-theme-name">[무주] 무주덕유산리조트티롤호텔</p>
                                    <p class="gjt-theme-price"><span>300,000원</span><em>132,000원</em></p>
                                </div>
                            </a>
                        </li>
                        <li class="list06">
                            <a href="#none">
                                <figure><img src="http://img.go.co.kr/mobile/landing/20181122_skiResort/theme02_list06.png" alt="테마02 이미지"></figure>
                                <div class="gjt-txt-box">
                                    <p class="gjt-theme-name">[양산] 에덴밸리리조트</p>
                                    <p class="gjt-theme-price"><span>200,000원</span><em>91,500원</em></p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="sec-lan-kakao">
                <div class="gjt-wrap">
                    <p class="gjt-tit"><img src="http://img.go.co.kr/mobile/landing/20181109_GangwonJejuTheme/kakao_tit.png" alt="좋은건 함께 나눠야죠!"></p>
                    <p class="gjt-txt">저렴하고 인기좋은 숙소 함께 공유해요</p>
                    <a href="#none" class="btn-kakao"><span>스키장 인근숙소 공유하기</span></a>
                </div>
            </div>
            
            <!-- scroll js -->
            <script type="text/javascript">
                $(function() {
                    $("a[href^='#tab0']").click(function(e) {
                        var tabscroll = $($(this).attr("href")).offset().top - 40;
                        $('html, body').stop().animate({
                            scrollTop : tabscroll
                        }, 500);
                    });
                });
            </script>   
        </div>
        <!-- //181122 전국스키장인기숙소 -->
        
        
		
	</div>
	
</body>
<whale translate="no"></whale>

</html>