<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title> 국내외여행, 호텔, 편션, 리조트, 콘도 최저가할인예약 GO.CO.KR </title>

	<meta http-equiv="Cache-Control" content="No-Cache">
	<meta http-equiv="Pragma" content="No-Cache">
	<meta http-equiv="expire" content="-1">

	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
	<!--숫자인식,메일주소,지도상의 주소링크 막기-->
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://static.go.co.kr/js/common_ver2.js?ver=20170809165103"></script>
	<script>
		var base_url = "go.co.kr";
		var burl = "go.co.kr";
	</script>
	<link rel="stylesheet" href="http://static.go.co.kr/css/moblie_reset.css" type="text/css">
	<link rel="stylesheet" href="http://static.go.co.kr/css/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/mobile_layout3.css">
	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/totalmobile.css">
<!--
	<link rel="stylesheet" type="text/css" href="../../../src/css/totalmobile.css">
	<link rel="stylesheet" type="text/css" href="../../../static/css/mobile_layout3.css">
-->
	
	<!-- js -->
	<script type="text/javascript" src="http://static.go.co.kr/js/all_common.js?ver=20170809165103"></script>
	<script type="text/javascript" src="http://static.go.co.kr/js/jquery_ui.js"></script>
	<!--- 달력 한글화 --->
	<script type="text/javascript" src="http://static.go.co.kr/js/datepicker_ko.js"></script>
	<script type="text/javascript" src="http://static.go.co.kr/js/jquery.number.min.js"></script>
	<style src="http://code.jquery.com/jquery-1.11.2.min.js"></style>
	<!-- 20181115 js 추가 -->
	<script type="text/javascript" src="http://static.go.co.kr/js/lazyload.min.js"></script>

</head>

<body>
	<div id="scroll_box">
		<div id="top_box" style="position:fixed;top:0px;z-index:9999;width:100%;background:#ffffff">
			<!--- 서브페이지 상단 -->
			<div id="headTitle_box">
				<div id="headTitle">
					<span class="back"><a href="javascript:history.back(-1);"><img src="http://img.go.co.kr/mobile/btn_back.png" height="17" alt="뒤로"></a></span>토요코인 체인호텔
				</div>
			</div>
		</div>	
		<div id="top_box_bottom" style="height: 46px;"></div>
        <script>
            $("#top_box_bottom").css("height", $("#top_box").height()+"px");
        </script>
        
        <!-- 182228 토요코인 체인호텔 -->
        <div id="gjt-181109" class="chain-181128">
            <div class="sec-lan-main">
                <div class="gjt-wrap">
                    <p class="gjt-tit"><img src="http://img.go.co.kr/mobile/landing/20181128_chainHotel/main_tit.png" alt="토요코인 체인호텔 BEST7 나 혼자 간다"></p>
                </div>
            </div>
            
            <div class="sec-lan-menu">
                <div class="gjt-wrap">
                    <div class="gjt-menu-box">
                        <p class="gjt-tit"><img src="http://img.go.co.kr/mobile/landing/20181128_chainHotel/menu_tit.png" alt="인기있는 특가/패키지"></p>
                        <ul class="gjt-menu-list">
                            <li><a href="#tab01"><img src="http://img.go.co.kr/mobile/landing/20181128_chainHotel/btn_menu01.png" alt="토요코인 체인호텔 BEST7"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div id="tab01" class="sec-lan-theme gjt-theme01">
                <div class="gjt-wrap">
                    <p class="gjt-tit"><img src="http://img.go.co.kr/mobile/landing/20181128_chainHotel/theme01_tit.png" alt="테마01 토요코인 체인호텔 BEST7"></p>
                    <ul class="gjt-theme-list clr">
                        <li class="list01">
                            <a href="#none">
                                <figure><img src="http://img.go.co.kr/mobile/landing/20181128_chainHotel/theme01_list01.png" alt="테마01 이미지"></figure>
                                <div class="gjt-txt-box">
                                    <p class="gjt-theme-name">[서초] 토요코인서울강남역점</p>
                                    <p class="gjt-theme-price"><span>100,000원</span><em>73,600원</em></p>
                                </div>
                            </a>
                        </li>
                        <li class="list02">
                            <a href="#none">
                                <figure><img src="http://img.go.co.kr/mobile/landing/20181128_chainHotel/theme01_list02.png" alt="테마01 이미지"></figure>
                                <div class="gjt-txt-box">
                                    <p class="gjt-theme-name">[대전] 토요코인대전점</p>
                                    <p class="gjt-theme-price"><span>60,000원</span><em>50,900원</em></p>
                                </div>
                            </a>
                        </li>
                        <li class="list03">
                            <a href="#none">
                                <figure><img src="http://img.go.co.kr/mobile/landing/20181128_chainHotel/theme01_list03.png" alt="테마01 이미지"></figure>
                                <div class="gjt-txt-box">
                                    <p class="gjt-theme-name">[해운대] 토요코인해운대1지점</p>
                                    <p class="gjt-theme-price"><span>70,000원</span><em>59,400원</em></p>
                                </div>
                            </a>
                        </li>
                        <li class="list04">
                            <a href="#none">
                                <figure><img src="http://img.go.co.kr/mobile/landing/20181128_chainHotel/theme01_list04.png" alt="테마01 이미지"></figure>
                                <div class="gjt-txt-box">
                                    <p class="gjt-theme-name">[해운대] 토요코인해운대2지점</p>
                                    <p class="gjt-theme-price"><span>50,000원</span><em>44,500원</em></p>
                                </div>
                            </a>
                        </li>
                        <li class="list05">
                            <a href="#none">
                                <figure><img src="http://img.go.co.kr/mobile/landing/20181128_chainHotel/theme01_list05.png" alt="테마01 이미지"></figure>
                                <div class="gjt-txt-box">
                                    <p class="gjt-theme-name">[부산] 토요코인부산역1지점</p>
                                    <p class="gjt-theme-price"><span>60,000원</span><em>51,400원</em></p>
                                </div>
                            </a>
                        </li>
                        <li class="list06">
                            <a href="#none">
                                <figure><img src="http://img.go.co.kr/mobile/landing/20181128_chainHotel/theme01_list06.png" alt="테마01 이미지"></figure>
                                <div class="gjt-txt-box">
                                    <p class="gjt-theme-name">[부산] 토요코인부산역2지점</p>
                                    <p class="gjt-theme-price"><span>50,000원</span><em>44,500원</em></p>
                                </div>
                            </a>
                        </li>
                        <li class="list07">
                            <a href="#none">
                                <figure><img src="http://img.go.co.kr/mobile/landing/20181128_chainHotel/theme01_list07.png" alt="테마01 이미지"></figure>
                                <div class="gjt-txt-box">
                                    <p class="gjt-theme-name">[부산] 토요코인부산서면점</p>
                                    <p class="gjt-theme-price"><span>60,000원</span><em>49,500원</em></p>
                                </div>
                            </a>
                        </li>
                        
                    </ul>
                </div>
            </div>
            
            <div class="sec-lan-kakao">
                <div class="gjt-wrap">
                    <p class="gjt-tit"><img src="http://img.go.co.kr/mobile/landing/20181109_GangwonJejuTheme/kakao_tit.png" alt="좋은건 함께 나눠야죠!"></p>
                    <p class="gjt-txt">저렴하고 인기좋은 숙소 함께 공유해요</p>
                    <!-- 181128 텍스트 수정 -->
                    <a href="#none" class="btn-kakao"><span>1인투숙 인기숙소 공유하기</span></a>
                </div>
            </div>
            
            <!-- scroll js -->
            <script type="text/javascript">
                $(function() {
                    $("a[href^='#tab0']").click(function(e) {
                        var tabscroll = $($(this).attr("href")).offset().top - 40;
                        $('html, body').stop().animate({
                            scrollTop : tabscroll
                        }, 500);
                    });
                });
            </script>   
        </div>
        <!-- //181122 전국스키장인기숙소 -->
        
        
		
	</div>
	
</body>
<whale translate="no"></whale>

</html>