<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<title> 국내외여행, 호텔, 편션, 리조트, 콘도 최저가할인예약 GO.CO.KR </title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<!-- 폰트어썸 CDN -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
	<!-- jquery라이브러리 -->
	<style src="http://code.jquery.com/jquery-1.11.2.min.js"></style>
	<!--<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.9/mediaelementplayer.css">-->
	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/reset.css">
	
	<!-- 180717 css 추가 -->
	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/mobile_layout_event-v1.1.css">
	<!--<link rel="stylesheet" type="text/css" href="../goco/static/mobile_layout_event-v1.1.css">-->
	<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.9/mediaelement-and-player.min.js"></script>-->

</head>

<body>
	<h1 class="hidden">캠프통 아일랜드 수상레저</h1>
	
	<!-- 180717 클래스 및 내용 추가 -->
	<div class="wrapper leisure-wrapper">
	    <div class="section">
	        <div class="img-box">
	            <img src="http://img.go.co.kr/mobile/camptong_lsland_leisure_20180717.jpg" alt="캠프통아일랜드 수상레저 상세설명">
	            <a class="link-1" href="https://itunes.apple.com/us/app/e%EB%B2%84%EC%8A%A4-%EC%8B%9C%EC%A6%8C3/id1130815465?mt=8" target="_blank" title="아이폰 앱 다운로드"></a>
	            <a class="link-2" href="https://play.google.com/store/apps/details?id=kr.co.wizdome.ebus" target="_blank" title="안드로이드 앱 다운로드"></a>
	            <a class="link-3" href="http://new.e-bus.co.kr/new/m2/view/index.html" target="_blank" title="앱 예약 바로가기"></a>
	        </div>
	    </div>
	</div>

</body>

</html>