<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title> 국내외여행, 호텔, 편션, 리조트, 콘도 최저가할인예약 GO.CO.KR </title>

	<meta http-equiv="Cache-Control" content="No-Cache">
	<meta http-equiv="Pragma" content="No-Cache">
	<meta http-equiv="expire" content="-1">

	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
	<!--숫자인식,메일주소,지도상의 주소링크 막기-->
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://static.go.co.kr/js/common_ver2.js?ver=20170809165103"></script>
	<script>
		var base_url = "go.co.kr";
		var burl = "go.co.kr";
	</script>
	<link rel="stylesheet" href="http://static.go.co.kr/css/moblie_reset.css" type="text/css">
	<!--- 검색시 달력에서 이용 ---->
	<link rel="stylesheet" href="http://static.go.co.kr/css/jquery-ui.css">
<!--
	<link rel="stylesheet" type="text/css" href="../../../static/css/mobile_layout3.css">
	<link rel="stylesheet" type="text/css" href="../../../src/css/totalmobile.css">
-->
	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/mobile_layout3.css">
	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/totalmobile.css">
	
	<!-- js -->
	<script type="text/javascript" src="http://static.go.co.kr/js/all_common.js?ver=20170809165103"></script>
	<script type="text/javascript" src="http://static.go.co.kr/js/jquery_ui.js"></script>
	<!--- 달력 한글화 --->
	<script type="text/javascript" src="http://static.go.co.kr/js/datepicker_ko.js"></script>
	<script type="text/javascript" src="http://static.go.co.kr/js/jquery.number.min.js"></script>
	<style src="http://code.jquery.com/jquery-1.11.2.min.js"></style>
	<!-- 20181115 js 추가 -->
	<script type="text/javascript" src="http://static.go.co.kr/js/lazyload.min.js"></script>

</head>

<body>
	<div id="scroll_box">
		<div id="top_box" style="position:fixed;top:0px;z-index:9999;width:100%;background:#ffffff">
			<!--- 서브페이지 상단 -->
			<div id="headTitle_box">
				<div id="headTitle">
					<span class="back"><a href="javascript:history.back(-1);"><img src="http://img.go.co.kr/mobile/btn_back.png" height="17" alt="뒤로"></a></span>강원.제주 맞춤여행
				</div>
			</div>
		</div>	
		<div id="top_box_bottom" style="height: 46px;"></div>
        <script>
            $("#top_box_bottom").css("height", $("#top_box").height()+"px");
        </script>
        
        <!-- 181109 강원제주 맞춤여행 -->
        <div id="gjt-181109">
            <div class="sec-lan-main">
                <div class="gjt-wrap">
                    <p class="gjt-tit"><img src="http://img.go.co.kr/mobile/landing/20181109_GangwonJejuTheme/main_tit.png" alt="저렴하고 인기있는 숙소 BEST3 강원.제주 맞춤여행"></p>
                </div>
            </div>
            
            <div class="sec-lan-menu">
                <div class="gjt-wrap">
                    <div class="gjt-menu-box">
                        <p class="gjt-tit"><img src="http://img.go.co.kr/mobile/landing/20181109_GangwonJejuTheme/menu_tit.png" alt="테마 인기숙소 모음"></p>
                        <ul class="gjt-menu-list">
                            <li><a href="#tab01"><img src="http://img.go.co.kr/mobile/landing/20181109_GangwonJejuTheme/btn_menu01.png" alt="탁 트이는! 바다여행"></a></li>
                            <li><a href="#tab02"><img src="http://img.go.co.kr/mobile/landing/20181109_GangwonJejuTheme/btn_menu02.png" alt="금강산도 식후경! 먹방여행"></a></li>
                            <li><a href="#tab03"><img src="http://img.go.co.kr/mobile/landing/20181109_GangwonJejuTheme/btn_menu03.png" alt="신나는! 관광명소여행"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div id="tab01" class="sec-lan-theme gjt-theme01">
                <div class="gjt-wrap">
                    <p class="gjt-tit"><img src="http://img.go.co.kr/mobile/landing/20181109_GangwonJejuTheme/theme01_tit.png" alt="테마01 탁 트이는! 바다여행"></p>
                    <ul class="gjt-theme-list clr">
                        <li class="list01">
                            <a href="#none">
                                <figure><img src="http://img.go.co.kr/mobile/landing/20181109_GangwonJejuTheme/theme01_list01.png" alt="테마01 이미지"></figure>
                                <div class="gjt-txt-box">
                                    <p class="gjt-theme-name">[강원/고성] 오션투유콘도</p>
                                    <p class="gjt-theme-price"><span>150,000원</span><em>54,000원</em></p>
                                </div>
                            </a>
                        </li>
                        <li class="list02">
                            <a href="#none">
                                <figure><img src="http://img.go.co.kr/mobile/landing/20181109_GangwonJejuTheme/theme01_list02.png" alt="테마01 이미지"></figure>
                                <div class="gjt-txt-box">
                                    <p class="gjt-theme-name">[강원/양양] 낙산비치호텔</p>
                                    <p class="gjt-theme-price"><span>200,000원</span><em>79,500원</em></p>
                                </div>
                            </a>
                        </li>
                        <li class="list03">
                            <a href="#none">
                                <figure><img src="http://img.go.co.kr/mobile/landing/20181109_GangwonJejuTheme/theme01_list03.png" alt="테마01 이미지"></figure>
                                <div class="gjt-txt-box">
                                    <p class="gjt-theme-name">[제주/제주시] 제주화이트하우스</p>
                                    <p class="gjt-theme-price"><span>100,000원</span><em>49,500원</em></p>
                                </div>
                            </a>
                        </li>
                        <li class="list04">
                            <a href="#none">
                                <figure><img src="http://img.go.co.kr/mobile/landing/20181109_GangwonJejuTheme/theme01_list04.png" alt="테마01 이미지"></figure>
                                <div class="gjt-txt-box">
                                    <p class="gjt-theme-name">[제주/서귀포] 제주스테이인성산</p>
                                    <p class="gjt-theme-price"><span>120,000원</span><em>50,000원</em></p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div id="tab02" class="sec-lan-theme gjt-theme02">
                <div class="gjt-wrap">
                    <p class="gjt-tit"><img src="http://img.go.co.kr/mobile/landing/20181109_GangwonJejuTheme/theme02_tit.png" alt="테마02 금강산도 식후경! 먹방여행"></p>
                    <ul class="gjt-theme-list clr">
                        <li class="list01">
                            <a href="#none">
                                <figure><img src="http://img.go.co.kr/mobile/landing/20181109_GangwonJejuTheme/theme02_list01.png" alt="테마02 이미지"></figure>
                                <div class="gjt-txt-box">
                                    <p class="gjt-theme-name">[강원/정선] 메이힐스리조트</p>
                                    <p class="gjt-theme-price"><span>200,000원</span><em>56,900원</em></p>
                                </div>
                            </a>
                        </li>
                        <li class="list02">
                            <a href="#none">
                                <figure><img src="http://img.go.co.kr/mobile/landing/20181109_GangwonJejuTheme/theme02_list02.png" alt="테마02 이미지"></figure>
                                <div class="gjt-txt-box">
                                    <p class="gjt-theme-name">[강원/강릉] 강릉관광호텔</p>
                                    <p class="gjt-theme-price"><span>200,000원</span><em>78,000원</em></p>
                                </div>
                            </a>
                        </li>
                        <li class="list03">
                            <a href="#none">
                                <figure><img src="http://img.go.co.kr/mobile/landing/20181109_GangwonJejuTheme/theme02_list03.png" alt="테마02 이미지"></figure>
                                <div class="gjt-txt-box">
                                    <p class="gjt-theme-name">[제주/서귀포] 부영호텔&리조트</p>
                                    <p class="gjt-theme-price"><span>300,000원</span><em>92,700원</em></p>
                                </div>
                            </a>
                        </li>
                        <li class="list04">
                            <a href="#none">
                                <figure><img src="http://img.go.co.kr/mobile/landing/20181109_GangwonJejuTheme/theme02_list04.png" alt="테마02 이미지"></figure>
                                <div class="gjt-txt-box">
                                    <p class="gjt-theme-name">[제주/서귀포] 중문 썬라이즈호텔</p>
                                    <p class="gjt-theme-price"><span>150,000원</span><em>40,100원</em></p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div id="tab03" class="sec-lan-theme gjt-theme03">
                <div class="gjt-wrap">
                    <p class="gjt-tit"><img src="http://img.go.co.kr/mobile/landing/20181109_GangwonJejuTheme/theme03_tit.png" alt="테마03 신나는! 관광명소여행"></p>
                    <ul class="gjt-theme-list clr">
                        <li class="list01">
                            <a href="#none">
                                <figure><img src="http://img.go.co.kr/mobile/landing/20181109_GangwonJejuTheme/theme03_list01.png" alt="테마03 이미지"></figure>
                                <div class="gjt-txt-box">
                                    <p class="gjt-theme-name">[강원/속초] 속초현대수리조트</p>
                                    <p class="gjt-theme-price"><span>150,000원</span><em>55,000원</em></p>
                                </div>
                            </a>
                        </li>
                        <li class="list02">
                            <a href="#none">
                                <figure><img src="http://img.go.co.kr/mobile/landing/20181109_GangwonJejuTheme/theme03_list02.png" alt="테마03 이미지"></figure>
                                <div class="gjt-txt-box">
                                    <p class="gjt-theme-name">[강원/강릉] 주문진블루힐리조트</p>
                                    <p class="gjt-theme-price"><span>200,000원</span><em>98,000원</em></p>
                                </div>
                            </a>
                        </li>
                        <li class="list03">
                            <a href="#none">
                                <figure><img src="http://img.go.co.kr/mobile/landing/20181109_GangwonJejuTheme/theme03_list03.png" alt="테마03 이미지"></figure>
                                <div class="gjt-txt-box">
                                    <p class="gjt-theme-name">[제주/서귀포] 루체빌리조트</p>
                                    <p class="gjt-theme-price"><span>200,000원</span><em>62,900원</em></p>
                                </div>
                            </a>
                        </li>
                        <li class="list04">
                            <a href="#none">
                                <figure><img src="http://img.go.co.kr/mobile/landing/20181109_GangwonJejuTheme/theme03_list04.png" alt="테마03 이미지"></figure>
                                <div class="gjt-txt-box">
                                    <p class="gjt-theme-name">[제주/서귀포] 호텔더본제주</p>
                                    <p class="gjt-theme-price"><span>150,000원</span><em>84,800원</em></p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="sec-lan-kakao">
                <div class="gjt-wrap">
                    <p class="gjt-tit"><img src="http://img.go.co.kr/mobile/landing/20181109_GangwonJejuTheme/kakao_tit.png" alt="좋은건 함께 나눠야죠!"></p>
                    <p class="gjt-txt">저렴하고 인기좋은  숙소 함께 공유해요</p>
                    <a href="#none" class="btn-kakao"><span>강원,제주 테마별 인근숙소 공유하기</span></a>
                </div>
            </div>
            
            <!-- scroll js -->
            <script type="text/javascript">
                $(function() {
                    $("a[href^='#tab0']").click(function(e) {
                        var tabscroll = $($(this).attr("href")).offset().top - 40;
                        $('html, body').stop().animate({
                            scrollTop : tabscroll
                        }, 500);
                    });
                });
            </script>   
        </div>
        <!-- //181109 강원제주 맞춤여행 -->
        
        
		
	</div>
	
</body>
<whale translate="no"></whale>

</html>