<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title> 국내외여행, 호텔, 편션, 리조트, 콘도 최저가할인예약 GO.CO.KR </title>

	<meta http-equiv="Cache-Control" content="No-Cache">
	<meta http-equiv="Pragma" content="No-Cache">
	<meta http-equiv="expire" content="-1">

	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
	
	<!-- 190214 폰트 추가 -->
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css">
	
	<!--숫자인식,메일주소,지도상의 주소링크 막기-->
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://static.go.co.kr/js/common_ver2.js?ver=20170809165103"></script>
	<script>
		var base_url = "go.co.kr";
		var burl = "go.co.kr";
	</script>
	<link rel="stylesheet" href="http://static.go.co.kr/css/moblie_reset.css" type="text/css">
	<!--- 검색시 달력에서 이용 ---->
	<link rel="stylesheet" href="http://static.go.co.kr/css/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/mobile_layout3.css">
	<!-- 190214 사용하는 랜딩 css -->
	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/m/landing/landing.css">
	
	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/totalmobile.css">
	
<!--	<link rel="stylesheet" type="text/css" href="../../../static/css/mobile_layout3.css">-->
	<!--<link rel="stylesheet" type="text/css" href="../../../static/css/m/landing/landing.css">-->
<!--	<link rel="stylesheet" type="text/css" href="../../../src/css/totalmobile.css">-->
	
	<!-- js -->
	<script type="text/javascript" src="http://static.go.co.kr/js/all_common.js?ver=20170809165103"></script>
	<script type="text/javascript" src="http://static.go.co.kr/js/jquery_ui.js"></script>
	<!--- 달력 한글화 --->
	<script type="text/javascript" src="http://static.go.co.kr/js/datepicker_ko.js"></script>
	<script type="text/javascript" src="http://static.go.co.kr/js/jquery.number.min.js"></script>
	<style src="http://code.jquery.com/jquery-1.11.2.min.js"></style>
	<!-- 20181115 js 추가 -->
	<script type="text/javascript" src="http://static.go.co.kr/js/lazyload.min.js"></script>

</head>

<body>
	<div id="scroll_box">
		<div id="top_box" style="position:fixed;top:0px;z-index:9999;width:100%;background:#ffffff">
			<!--- 서브페이지 상단 -->
			<div id="headTitle_box">
				<div id="headTitle">
					<span class="back"><a href="javascript:history.back(-1);"><img src="http://img.go.co.kr/mobile/btn_back.png" height="17" alt="뒤로"></a></span>무료숙박 예약 고객 추천상품
				</div>
			</div>
		</div>	
		<div id="top_box_bottom" style="height: 46px;"></div>
        <script>
            $("#top_box_bottom").css("height", $("#top_box").height()+"px");
        </script>
        
        <!-- 190214 랜딩 -->
        <div class="landing-contents-2">
            <div class="sec-lan-main">
                <div class="lan-wrap">
                    <p class="lan-tit"><img src="http://img.go.co.kr/mobile/landing/20190213_recActivity/img_main.jpg" alt="무료숙박 예약 고객 추천 무료숙박과 함께 즐기는 추천 액티비티"></p>
                </div>
            </div>
            
            <div class="sec-lan-stay">
                <div class="lan-wrap">
                    <div class="stay-box">
                        <figure class="stay-img"><img src="http://img.go.co.kr/mobile/landing/20190213_recActivity/img_stay_bs.jpg" alt="도고BS콘도"></figure>
                        <div class="stay-txt">
                            <p class="p-1">고객님이 예약하신</p>
                            <p class="p-2"><span>도고BS콘도</span></p>
                            <p class="p-3">인근 추천 액티비티</p>
                        </div>
                    </div>
                </div>
                
                <script type="text/javascript">
                    /* 호텔/리조트/콘도명이 길어지면 텍스트 줄어들게 */
                    var stayP = $('.landing-contents-2 .sec-lan-stay .stay-txt .p-2');
                    var stayTxt = stayP.find('span').text();
                    var stayTxtLen = stayTxt.length;
                    var stayLenBase = 7, stayBaseFS = 21; //글자 7 = 21px
                    //console.log(stayTxt, stayTxtLen)
                    
                    if( stayLenBase < stayTxtLen ){
                        var stayFS = (stayBaseFS-(stayTxtLen-stayLenBase));
                        if( stayFS < 10 ){
                            //폰트 최소 크기 지정
                            stayP.css({'font-size' : 10+'px'});
                        }else {
                            stayP.css({'font-size' : stayFS+'px'});
                        }
                    }else{
                        stayP.css({'font-size' : stayBaseFS+'px'});
                    }
                </script>
            </div>
            
            <div class="sec-lan-list">
                <div class="lan-wrap">
                    <ul class="lan-list clr">
                        <li class="list01">
                            <a href="#none">
                                <p class="list-type">테마파크</p>
                                <figure class="list-img"><img src="http://img.go.co.kr/mobile/landing/20190213_recActivity/img_list01.jpg" alt="이미지"></figure>
                                <div class="list-txt-box">
                                    <p class="list-name">[강원] 엘리시안강촌 리프트+장비렌탈 패키지</p>
                                    <p class="list-adr">강원 춘천시 남산면</p>
                                    <p class="list-price"><em>27,000원</em></p>
                                </div>
                            </a>
                        </li>
                        <li class="list02">
                            <a href="#none">
                                <p class="list-type">테마파크</p>
                                <figure class="list-img"><img src="http://img.go.co.kr/mobile/landing/20190213_recActivity/img_list02.jpg" alt="이미지"></figure>
                                <div class="list-txt-box">
                                    <p class="list-name">[강원] 엘리시안강촌 리프트+장비렌탈 패키지+장비렌탈 패키지</p>
                                    <p class="list-adr">강원 춘천시 남산면</p>
                                    <p class="list-price"><em>27,000원</em></p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <!-- scroll js -->
            <script type="text/javascript">
                $(function() {
                    $("a[href^='#tab0']").click(function(e) {
                        var tabscroll = $($(this).attr("href")).offset().top - 40;
                        $('html, body').stop().animate({
                            scrollTop : tabscroll
                        }, 500);
                    });
                });
            </script>   
        </div>
        <!-- //181109 강원제주 맞춤여행 -->
        
        
		
	</div>
	
</body>
<whale translate="no"></whale>

</html>