<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<title> 국내외여행, 호텔, 편션, 리조트, 콘도 최저가할인예약 GO.CO.KR </title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="format-detection" content="telephone=no, address=no, email=no">
    
	<!-- 폰트어썸 CDN -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/reset.css">
	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/mobile_layout_event-v1.1.css">
    <!-- <link rel="stylesheet" type="text/css" href="../../../static/css/mobile_layout_event-v1.1.css"> -->
    
	<!-- jquery라이브러리 -->
	<style src="http://code.jquery.com/jquery-1.11.2.min.js"></style>

</head>

<body>
	<h1 class="hidden">캠프통 아일랜드 수상레저</h1>
	
	<div class="wrapper mipic-wrapper">
	    <div class="section">
	        <div class="img-box">
                <img src="http://img.go.co.kr/mobile/landing/20190702_mipic/img_01.jpg" alt="미드나잇 피크닉 페스티벌2019">
                <p class="hidden">
                    2019.07.12(금요일) ~ 07.14(일요일) 3일간! 강원도 고성군 삼포해수욕장
                    국내 최대 규모의 뮤직 &amp; 서핑 축제, 미픽 2019
                    해변에서 즐기는 다양한 액티비티
                    밤에는 달빛 아래서 즐기는 뮤직 페스티벌로 초대합니다.
                    "편안한 주변 객실과 페스티벌을 한번에!"
                </p>
                <div class="cf link-box box-1">
                    <a href="http://www.ocean2you.co.kr/view/" title="페이지 이동">
                        <img src="http://img.go.co.kr/mobile/landing/20190702_mipic/link_oc2.jpg" alt="오션투유 + 미픽2019 티켓 상품안내">
                    </a>
                    <a href="http://seabay.co.kr/reserve" title="페이지 이동">
                        <img src="http://img.go.co.kr/mobile/landing/20190702_mipic/link_seabay.jpg" alt="강릉씨베이호텔 + 미픽2019 티켓 상품안내">
                    </a>
                </div>
	            <img src="http://img.go.co.kr/mobile/landing/20190702_mipic/img_02.jpg" alt="미픽페스티벌 사진">
                <div class="cf link-box box-2">
                    <a href="http://www.ocean2you.co.kr/view/" title="페이지 이동">
                        <img src="http://img.go.co.kr/mobile/landing/20190702_mipic/link_oc2.jpg" alt="오션투유 + 미픽2019 티켓 상품안내">
                    </a>
                    <a href="http://seabay.co.kr/reserve" title="페이지 이동">
                        <img src="http://img.go.co.kr/mobile/landing/20190702_mipic/link_seabay.jpg" alt="강릉씨베이호텔 + 미픽2019 티켓 상품안내">
                    </a>
                </div>
	        </div>
	    </div>
	</div>

</body>

</html>