<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8" />
	<title> 국내외여행, 호텔, 편션, 리조트, 콘도 최저가할인예약 GO.CO.KR </title>

	<meta http-equiv="Cache-Control" content="No-Cache" />
	<meta http-equiv="Pragma" content="No-Cache" />
	<meta http-equiv="expire" content="-1">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" />
	<meta name="format-detection" content="telephone=no, address=no, email=no" />
	
	<!-- 소셜 -->
<!--
	<meta property="og:title" content="">  
	<meta property="og:image" content="">  
	<meta property="og:description" content=""/>  
	<meta name="twitter:card" content="summary">  
	<meta name="twitter:title" content="">  
	<meta name="twitter:image" content="">  
	<meta name="twitter:description" content=""/>
-->
	
	<!-- 폰트어썸 CDN -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
	
	<!--폰트추가-->
<!--	<link rel="stylesheet" href="http://go.co.kr/fonts/nanumsquare/nanumsquare.css">-->
	
	<link rel="stylesheet" href="http://static.go.co.kr/css/landing/landing.css">
<!--	<link rel="stylesheet" href="../../../src/css/landing/landing.css">-->
	
	<!-- jquery라이브러리 -->
	<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="http://static.go.co.kr/js/jquery_ui.js"></script>
	
	
	<!--- 검색시 달력에서 이용 ---->
	<link rel="stylesheet" href="http://static.go.co.kr/css/jquery-ui.css">
	<script type="text/javascript" src="http://static.go.co.kr/js/jquery_ui.js"></script>
	
	<!--- 달력 한글화 --->
	<!-- Include Date Range Picker -->
	<script type="text/javascript" src="http://static.go.co.kr/js/daterangepicker.js"></script>
	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/daterangepicker.css">
	
</head>
<body>
	<h1 class="hidden">라마다 앙코르 평택 호텔 조식뷔페 이용권</h1>
	<div class="wrap landing-wrapper imgLanding rmd-bf-use" id="wrap">
		<div class="evt-visual">
			<img src="http://img.ramadapt.co.kr/m/landing/bf_use.jpg" alt="조식뷔페1인무료이용권" class="max-wd">
		</div>
		<div class="evt-bottom">
			<div class="fixed-btn type-btn1 cf">
				<a href="">라마다 호텔 조식 이용권 예매하기</a>
			</div>
		</div>
<!--
	<div class="landing-wrapper imgLanding rmd-bf-use">
		<div class="evt-area">
			<div class="evt-main">
				
				<div class="evt-visual">
					<img src="http://img.ramadapt.co.kr/m/landing/bf_use.jpg" alt="조식뷔페이용권" class="max-wd">
					<h2 class="hidden">라마다 앙코르 평택 호텔 조식 뷔페 1인 무료 이용권</h2>
					<p class="hidden">
						토요일, 일요일, 공휴일 아침에 운영
						<br>
						특급호텔 30년 근무 경력의 조리장들의 품질 높은 프리미엄 뷔페 조식 서비스를 맛보세요!
						<br>
						정상가(성인) 15,000원 ▶ 12,000원에 이용 가능!
					</p>
				</div>
			</div>
			<div class="evt-bottom">
				<div class="fixed-btn type-btn1 cf">
					<a href="">라마다 호텔 조식 이용권 예매하기</a>
				</div>
			</div>
		</div>
-->
		
		<!--//.evt-area-->
		
		<!--추가 영역-->
		
	</div>
	<!--//.landing-wrapper-->
	
</body>
</html>