<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title> 국내외여행, 호텔, 편션, 리조트, 콘도 최저가할인예약 GO.CO.KR </title>

	<meta http-equiv="Cache-Control" content="No-Cache">
	<meta http-equiv="Pragma" content="No-Cache">
	<meta http-equiv="expire" content="-1">

	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
	<!--숫자인식,메일주소,지도상의 주소링크 막기-->
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://static.go.co.kr/js/common_ver2.js?ver=20170809165103"></script>
	<script>
		var base_url = "go.co.kr";
		var burl = "go.co.kr";
	</script>
	<script type="text/javascript" src="http://static.go.co.kr/js/all_common.js?ver=20170809165103"></script>
	<!-- 검색시 달력에서 이용 -->
	<link rel="stylesheet" href="http://static.go.co.kr/css/jquery-ui.css">
	<script type="text/javascript" src="http://static.go.co.kr/js/jquery_ui.js"></script>
	<!-- 달력 한글화 -->
	<script type="text/javascript" src="http://static.go.co.kr/js/datepicker_ko.js"></script>
	<script type="text/javascript" src="http://static.go.co.kr/js/jquery.number.min.js"></script>
	<style src="http://code.jquery.com/jquery-1.11.2.min.js"></style>
	<!--<link rel="stylesheet" type="text/css" href="../../../static/mobile_layout3.css">-->
	<!-- <link rel="stylesheet" type="text/css" href="../../../src/css/totalmobile.css"> -->
	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/mobile_layout3.css">
	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/totalmobile.css">

</head>

<body>
    <!-- 180807 재방문 예약 할인하기 추가 -->
	<div id="scroll_box">
		<div id="top_box">
            <!-- 180807 텍스트 수정 -->
			<div id="headTitle"><span class="back"><a href="javascript:history.back();"><img src="http://img.go.co.kr/mobile/btn_back.png" height="17" alt="뒤로"></a></span>재방문 할인 예약하기</div>
		</div>		
		
		<div class="clr"></div>
        <!-- 180807 클래스 추가 -->
		<div class="oc2reserv-wrap evt-reserv-wrap">
            <!-- 180807 이미지 div 생성 -->
            <div class="top-repc-box">
                <img src="http://img.go.co.kr/event/evt_repc/repc_top.jpg" alt="재방문 할인특가">
                <div class="hidden">
                    <p>파격적인 가격! 재방문 할인특가</p>
                    <p>재방문하시는 고객님께 객실을 일반가보다 파격적인 할인요금으로 제공합니다.</p>
                </div>
            </div>		
            
			<div class="row type01">
				<span class="p-lbl type01">시설명</span>
                <!-- 180807 클래스 수정 -->
				<span class="in-comm-txt type01">오션투유리조트속초설악비치호텔앤콘도</span>
			</div>
            
			<div class="row type01">
				<span class="p-lbl type01">이름</span>
				<input type="text" class="in-comm type01 bg01" placeholder="이름입력">
			</div>
			<div class="row type01">
				<span class="p-lbl type01">연락처</span>
				<input type="text" class="in-comm type02 bg01" placeholder="010">
				<span class="i-">-</span>
				<input type="text" class="in-comm type02 bg01">
				<span class="i-">-</span>
				<input type="text" class="in-comm type02 bg01">
			</div>
			<div class="row type01">
				<span class="p-lbl type01">이메일</span>
				<input type="text" class="in-comm type01 bg01" placeholder="이메일입력">
			</div>
			<div class="row type01">
				<span class="p-lbl">예약일자(체크인/아웃, 박수)</span>
				<div class="row type02">
					<input type="text" class="in-comm type03 bg02" placeholder="체크인 날짜선택">
					<select name="" id="" class="slt-box type01">
						<option value="1">1박</option>
						<option value="2">2박</option>
						<option value="3">3박</option>
					</select>
					
					<div class="sltCal-sec type2 clr">

						<div class="cal-inner">
							<p class="p-1"><a href="" class="prev-a">◀</a><em>2017년 9월</em><a href="" class="next-a">▶</a></p>
							<table class="cal-tb">
								<colgroup>
									<col style="width:55px">
									<col style="width:55px">
									<col style="width:55px">
									<col style="width:55px">
									<col style="width:55px">
									<col style="width:55px">
									<col style="width:55px">
								</colgroup>
								<thead>
									<tr>
										<th>일</th>
										<th>월</th>
										<th>화</th>
										<th>수</th>
										<th>목</th>
										<th>금</th>
										<th>토</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="off sun"><div>28</div></td>
										<td class="off"><div>29</div></td>
										<td class="off"><div>30</div></td>
										<td class="off"><div>31</div></td>
										<td><div>1</div></td>
										<td><div>2</div></td>
										<td class="sat"><div>3</div></td>
									</tr>
									<tr>
										<td class="sun"><div>4</div></td>
										<td><div>5</div></td>
										<td><div>6</div></td>
										<td><div>7</div></td>
										<td><div>8</div></td>
										<td><div>9</div></td>
										<td class="sat"><div>10</div></td>
									</tr>
									<tr>
										<td class="sun"><div>11</div></td>
										<td><div>12</div></td>
										<td><div>13</div></td>
										<td><div>14</div></td>
										<td><div>15</div></td>
										<td><div>16</div></td>
										<td class="sat"><div>17</div></td>
									</tr>
									<tr>
										<td class="sun"><div>18</div></td>
										<td><div>19</div></td>
										<td><div>20</div></td>
										<td><div>21</div></td>
										<td><div>22</div></td>
										<td><div>23</div></td>
										<td class="sat"><div>24</div></td>
									</tr>
									<tr>
										<td class="sun"><div>25</div></td>
										<td class="chkIn"><div>26<img src="http://img.go.co.kr/i_chkIn.png" alt="체크인" class="i-chkIn"></div></td>
										<td><div>27</div></td>
										<td><div>28</div></td>
										<td><div>29</div></td>
										<td><div>30</div></td>
										<td class="off"><div>1</div></td>
									</tr>
									<tr>
										<td class="off"><div>2</div></td>
										<td class="off"><div>3</div></td>
										<td class="off"><div>4</div></td>
										<td class="off"><div>5</div></td>
										<td class="off"><div>6</div></td>
										<td class="off"><div>7</div></td>
										<td class="off"><div>8</div></td>
									</tr>
								</tbody>
							</table>
						</div>

					</div>
				</div>
				<div class="row type03">
					<input type="text" class="in-comm type03 bg03" placeholder="박수 선택시 표기">
				</div>
				
				<!-- 180810 버튼 추가 -->
				<a href="#none" class="btn-rsvt"><span>오션뷰 콘도로 예약하기</span></a>
			</div>
           
            <!-- 180807 텍스트 및 내용 수정 -->
			<div class="row type01">
				<span class="p-lbl type02">객실타입</span>
				<div class="row type03">
					<select name="" id="" class="slt-box type03">
						<option value="">마운틴뷰 콘도 리노베이션</option>
						<option value=""></option>
						<option value=""></option>
                    </select>
				</div>
			</div>
			
			<div class="row type01">
                <!-- 180807 텍스트 수정 -->
				<span class="p-lbl">투숙인원</span>
				<div class="row type03">
					<select name="" id="" class="slt-box type03">
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
					</select>
				</div>
			</div>
               
            <!-- 180807 결제금액 추가 -->
			<div class="row type01 pay-list-box">
				<span class="p-lbl">결제금액</span>
				<ul class="pay-list">
				    <li>
				        <p class="fir">일반 판매가</p>
				        <p class="t-line-c">98,000원</p>
				    </li>
				    <li>
				        <p class="fir">재구매 할인금액</p>
				        <p class="fc-red">-10,000원</p>
				    </li>
				    <li class="last">
				        <p class="fir fc-point">최종 결제금액</p>
				        <p class="fc-point">88,000원</p>
				    </li>
				</ul>
			</div>
		
			
			<a href="#" class="btn-a" id="goreserve" style="margin-top:30px; margin-bottom:-30px; position:static;">재방문 할인특가 예약하기</a>
		</div>
		
		
		
        <!-- 180808 로딩팝업 추가 -->
        <!--<div class="pop-reserv-loding-wrap" style="display:block">
            <div class="pop-reserv-loding-area">
                <div class="pop-reserv-loding-box">
                    <img class="pop-loding-img" src="http://img.go.co.kr/event/evt_repc/loding.gif" alt="로딩">
                    <p class="reserv-p-0">객실 조회중</p>
                    <p class="reserv-p-1">잠시 기다려주세요.</p>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            var lodingBox = $('.pop-reserv-loding-wrap');
            
            if ( lodingBox.css('display') == 'block'){
                $('html').css({'overflow': 'hidden', 'height': '100%'});
            }else{
                $('html').css({'overflow': 'auto', 'height': '100%'});

                lodingBox.off('scroll touchmove mousewheel');
            }
        </script>-->
        <!-- END : 로딩팝업 추가 -->

	</div>

	
</body>
<whale translate="no"></whale>

</html>