<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8" />
	<title>한화아쿠아플라넷</title>

	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
	
<!--	<link rel="shortcut icon" href="http://img.go.co.kr/favicon/freeNights/free_accom.ico" type="image/x-icon" />-->

	<!-- 오픈그래프 -->
	<meta property="og:title" content="한화 아쿠아플라넷"/> 
	<meta property="og:image" content="http://img.go.co.kr/mobile/event/hanhwa_ap/270x270.jpg"/>  
	<meta property="og:description" content="여수 일산 63빌딩 아쿠아플라넷 1000매 한정수량! 초특가 판매!"/>  
	<meta name="twitter:card" content="summary"/>  
	<meta name="twitter:title" content="한화 아쿠아플라넷"/>  
	<meta name="twitter:image" content="http://img.go.co.kr/mobile/event/hanhwa_ap/270x270.jpg"/>  
	<meta name="twitter:description" content="여수 일산 63빌딩 아쿠아플라넷 1000매 한정수량! 초특가 판매!"/>
	<!-- favicon 관련 icon -->
	<link rel="shortcut icon" href="http://img.go.co.kr/icon_goco128x128.png">

	
	<!-- 폰트어썸 CDN -->
	<link href="https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css" rel="stylesheet" />
	<!-- jquery라이브러리 -->
	<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/reset.css">


</head>

<body>
	
	<div class="test">소셜 오픈그래프이미지 - 한화아쿠아플라넷</div>
	
</body>

</html>