<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8" />
	<title>누리펀딩</title>

	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
	
<!--	<link rel="shortcut icon" href="http://img.go.co.kr/favicon/freeNights/free_accom.ico" type="image/x-icon" />-->

	<!-- 오픈그래프 -->
	<meta property="og:type" content="website"/>
	<meta property="og:title" content="누리펀딩"/>
	<meta property="og:description" content="후순위담보대출, 판매대금 선정산, 영업수입, 임대료, 미래 수익 담보대출 등">
	<meta property="og:url" content="https://www.nurifunding.co.kr"/>
	<meta property="og:site_name" content="누리펀딩"/>
	<meta property="og:image" content="https://www.nurifunding.co.kr/img/og_img.png"/>
	
	<!-- favicon 관련 icon -->
	<link rel="shortcut icon" href="https://www.nurifunding.co.kr/img/32x32.ico"/>
	

	
	<!-- 폰트어썸 CDN -->
	<link href="https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css" rel="stylesheet" />
	<!-- jquery라이브러리 -->
	<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/reset.css">


</head>

<body>
	
	<div class="test">소셜 오픈그래프이미지 - 누리펀딩</div>
	
</body>

</html>