<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>프루나 2019년도 개인정보 이용내역</title>

</head>

<body style="margin: 0; padding: 0;">
	<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="font-family: 'Nanum Gothic', 'NanumGothic', '나눔고딕', 'NanumGothicWeb', '맑은 고딕', 'Malgun Gothic', sans-serif; background: #fff;">
		<tr>
			<td>
				<table align="center" border="0" cellpadding="0" cellspacing="0" width="700" style="color: #333; margin: 0 auto; padding: 11px; ">
					<tr>
						<td>
                            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="color: #333; margin: 0 auto; padding: 0; border: 2px solid #e5e5e5;">
                                <tr>
                                    <td style="padding: 30px 52px 0 46px;">
                                        <img src="http://img.pruna.com/images/20150513/top_logo.gif" alt="프루나 로고" width="93" />
                                    </td>
                                </tr>
                                <!-- /.header -->
                                <tr>
                                    <td style="padding: 5px 52px 26px 48px; vertical-align: top; background: #fff;">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="box-sizing: border-box; min-height: 200px; margin: 0; padding: 10px 0 0 0; background: #fff url(http://img.go.co.kr/mailing/bg.png) no-repeat top right;">
                                            <tr>
                                                <td style="padding: 0 0 10px; font-size: 35px; font-weight: bold; line-height: 40px; letter-spacing: -3px; color: #000;">
                                                    <span style="font-size: 30px;">프루나</span><br>
                                                    개인정보 이용내역 안내
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 15px; line-height: 25px; letter-spacing: -1.5px; color: #4a4a4a;">
                                                    항상 저희 서비스를 이용해 주신 고객님 감사합니다.<br>
                                                    <span>프루나</span>에서는 정보통신망법에 따라 연 1회 이상<br>
                                                    회원님의 개인정보 이용내역을 안내해 드리고 있습니다.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-top: 23px;">
                                                    <p style="cursor: pointer; display: block; width: 260px; height: 40px; margin: 0; padding: 0; font-size: 14px; font-weight: bold; line-height: 40px; text-align: center; text-decoration: none; color: #fff; background: #173b8d;"><a href="http://www.pruna.com/info/info_privacy.asp" target="_blank" style="display: block; margin: 0; padding: 0; font-size: 14px; font-weight: bold; line-height: 40px; text-align: center; text-decoration: none; color: #fff;">개인정보 이용내역 확인</a></p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <!-- /.contents -->
                                <tr>
                                    <td style="padding: 15px 10px 12px 64px; font-size: 14px; line-height: 25px; letter-spacing: -1.5px; color: #000; background: #f0f0f0;">
                                        ※ 본 메일은 2019년 9월 25일 이전에 가입한 회원님께 발송한 발신전용 메일입니다.<br>
                                        ※ 본 메일은 법령에 따라 통지 의무사항이므로 수신동의 여부와 관계없이 모든 회원에게 발송됩니다.<br>
                                        <span style="display: inline-block; padding-left: 15px; font-size: 12px; letter-spacing: -0.5px; color: #7e7e7e;">Copyright©EbizNetworks. All Rights Reserved.</span>
                                    </td>
                                </tr>
                                <!-- /.footer -->
                            </table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<!-- /.wrapper -->

</body>

</html>